#product_output {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.product-out {
    position: relative;
    margin: 10px;
    background: #363636;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out .3s;
}

.product-out:hover {
    scale: 1.1;
}

.card-link {
    color: white;
    text-decoration: none;
}

.last-grup {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}