@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    color: white;
    font-family: "poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    background: linear-gradient(45deg, #999, #483066);
    margin: 10px;
    border-radius: 20px;
}

.header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid white;
    background: white;
    box-shadow: 0 0 20px #727272b9;
}

.header h2 {
    font-weight: 500;
    text-transform: lowercase;
}

.header h3 {
    font-weight: 400;
}

.header .desc .cover {
    display: flex;
    justify-content: start;
    gap: 3rem;
    margin: 1.5rem 0;
    align-items: center;
}

.header .desc .cover p {
    font-size: 1.2em;
}

.header .desc .cover .value {
    color: #483066;
}

.header .desc .cover h3 {
    background: wheat;
    padding: 5px 10px;
    border-radius: 50px;
}