@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* body {
    
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
} */

.content {
    display: flex;
    justify-content: start;
    align-items: center;
}

.content .desc {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 10px;
    padding-left: 10rem;
}

.content .desc p {
    color: #888;
}

.content .desc .btn-option {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.content .desc .btn-option .btn-masuk {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-family: "poppins", sans-serif;
    font-weight: 800;
    transition: .3s ease-in-out;
    z-index: 999;
    margin: 20px;
}

.content .desc .btn-option .btn-masuk:hover {
    background: #222;
    box-shadow: 0 0 20px #757575;
}


.content .model {
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translateX(24rem);
    width: 100%;
    cursor: pointer;
}

.content .model img {
    position: absolute;
    right: 22rem;
    top: 3rem;
}

.content .model .block {
    width: 200px;
    height: 50px;
    background: #111;
    position: absolute;
    top: 28rem;
    right: 0;
    z-index: 999;
}


/* TABLET */

@media (min-width: 998px ) and (max-width: 1300px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .content .model {
        top: 0;
        left: 0;
        transform: translateX(0rem);
    }

    .content .desc {
        margin-top: 5rem;
        font-size: 1.5em;
        padding: 5rem;
    }
}