@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #111;
}

.cover {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-sheet {
    width: fit-content;
    height: fit-content;
    padding: 1.5rem 2.5rem;
    background: #2a2a2a;
    box-shadow: 0 0 40px #3333336a;
    border-radius: 20px;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.registration-sheet h2 {
    color: white;
    padding: 20px 0px;
}

.registration-sheet form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.registration-sheet form input {
    width: 250px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.registration-sheet label {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.registration-sheet label::selection {
    box-shadow: 0 0 10px red;
}

.registration-sheet label p {
    display: block;
    font-size: .8em;
}

/* password */

.registration-sheet form .password {
    display: flex;
    gap: .5rem;
}


.registration-sheet form .password #password,
.registration-sheet form .password #confirm-password {
    width: 100px;
}

/* end */

.registration-sheet form .mantion {
    max-width: 200px;
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: .8em;
}

/* button */

.registration-sheet form #btn-signUp {
    display: block;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background: transparent;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.registration-sheet form #btn-signUp:hover {
    background: #5c5c5c;
    box-shadow: 0 0 30px gray;
}

@media (max-width: 998px) {
    .registration-sheet {
        font-size: .8em;
    }
}